This statement runs an if...elif...else statment.

In [1]:
grade = 80
if grade >=90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

B

This statement demonstrates a while statement.

In [2]:
product = 7
while product <=1000:
    product = product * 7
product

2401

This demonstrates using the end tool to space out the letters in Programming.

In [3]:
for character in 'Programming':
    print(character, end='  ')

P  r  o  g  r  a  m  m  i  n  g

This print statement shows how to add commas into a printed list.

In [4]:
print(10,20,30, sep=', ')

10, 20, 30

This function shows how to add each number in a list using a for statement.

In [5]:
total = 0
for number in [2, -3, 0, 17, 9]:
    total = total + number
total

25

This for statement prints the values in range.

In [6]:
for counter in range(10):
    print(counter, end=' ')

0 1 2 3 4 5 6 7 8 9

This for statement adds all values in range.

In [7]:
total = 0
for number in range(1000001):
    total = total + number
total

500000500000

This statements demonstrates practice with augmented assignments.

In [8]:
x = 12
x **= 2
x

144

Below I will practice using f-strings.

In [9]:
#Initialization phase
total = 0
grade_counter = 0
grades = [98,76,71,87,83,90,57,79,82,94]
#Processing phase
for grade in grades:
    total += grade #Running sum of all grades
    grade_counter += 1 #Keep track of grades counted 
#Termination phase
average = total/grade_counter
print(f'Class average is {average}')

Class average is 81.7

Practicing Range Functions

In [10]:
for number in range (10, 0, 2): #Nothing happens because we can't increment correctly 
    print(number, end=' ')

In [11]:
print("Incrementing by -11")
for number in range(99, -1, -11):
    print(number, end=' ')

Incrementing by -11
99 88 77 66 55 44 33 22 11 0

In [12]:
total = 0
for number in range(2, 101, 2):
    total += number
total

2550

Experimenting with Break and Continue Statements

In [13]:
for number in range(100):
    if number == 10:
        break
    print(number, end=' ')

0 1 2 3 4 5 6 7 8 9

In [14]:
for number in range(10):
    if number ==5: 
        continue
    print(number, end=' ')

0 1 2 3 4 6 7 8 9

Boolean Operator Practice:

In [15]:
gender = 'Female'
age = 70
if gender == 'Female' and age >=65:
    print('Senior Female')

Senior Female

In [16]:
semester_average = 83
final_exam = 95
if semester_average >= 90 or final_exam >= 90:
    print('Student gets an A')

Student gets an A

In [17]:
grade = 87
if not grade == -1:
    print('The next grade is', grade)

The next grade is 87

Practicing Algorithmic Booleans

In [18]:
i = 1
j = 2
k = 3
m = 2
(i>=1) and (j<4)

True

In [19]:
(m<=99) and (k<m)

False

In [20]:
(j>=i) or (k==m)

True

In [21]:
(k + m < j) or (3-j >= k)

False

In [22]:
not (k>m)

False

Practicing statistics functions

In [23]:
grades = [85, 93, 45, 89, 85]
sum(grades) / len(grades)

79.4

In [24]:
import statistics 
mean_grades = statistics.mean(grades)
median_grades = statistics.median(grades)
mode_grades = statistics.mode(grades)
print(mean_grades, median_grades, mode_grades)

79.4 85 85

The following calculates statistics functions on how many songs I listen to per day over a period of two weeks.

In [25]:
import statistics
songs_per_day = [14, 35, 50, 7, 7, 23, 3, 9, 55, 22, 17, 8, 5, 29]
number_of_days = len(songs_per_day) 
print('Number of days is:', number_of_days)
total_songs = sum(songs_per_day)
print('Total songs listened to:', total_songs)
median_songs = statistics.median(songs_per_day)
print('Median songs amount:', median_songs)
mean_songs = statistics.mean(songs_per_day)
print('Mean of songs:', mean_songs)
mode_songs = statistics.mode(songs_per_day)
print('Mode of songs:', mode_songs)

Number of days is: 14
Total songs listened to: 284
Median songs amount: 15.5
Mean of songs: 20.285714285714285
Mode of songs: 7

In [ ]:
My name is Emily Zimmerman!